[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
pytest = "*"
pytest-html = "*"

[dev-packages]
uvicorn = {extras = ["standard"], version = "*"}

[requires]
python_version = "3.8"
